@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    --dark-theme-background-color: #2C2C2C;
    --dark-theme-text-color: #fafafa;

    --light-theme-background-color: #fafafa;
    --light-theme-text-color: #2C2C2C;
}