@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    --dark-theme-background-color: "";
    --dark-theme-text-color: "";

    --light-theme-background-color: "";
    --light-theme-text-color: "";
}