<div class="container">
    <div class="inner-container">
        <form class="form" [formGroup]="this.formGroup">
            <div class="form-control">
                <label for="form-control-email">
                    {{ this.localeService.forgotPasswordFormEmailLabelLocale | translate }}
                </label>
                <input type="email" formControlName="email">
            </div>
            <div class="form-control">
                <button (click)="this.save()" [disabled]="this.isFormValid() === false"> {{
                    this.localeService.buttonLocale | translate}} </button>
            </div>
        </form>
    </div>
</div>