.container {
    min-height: 100vh;
    width: 100vw;

    .inner-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: inherit;

        .navbar {
            height: 80px;
            width: inherit;
        }

        .content {
            min-height: calc(100vh - 80px);
            width: inherit;
        }
    }
}

.dark-theme {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}

.light-theme {
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}